*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.flex-container{
    display: flex;
    align-items: center;
}
a, a:visited{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.btn-primary{
    display: inline-block;
    padding: 10px 20px;
    background-color: tomato;
    font-weight: bold;
    color: #fff;
}
.container{
    width: 1030px;
    margin: 0 auto;
}
/* Basic Style Clossing */
/* grid template area define css */
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
    background-color: #562EFF;
}
.main{
    grid-area: main;
    padding-bottom: 20px;
}
.footer{
    grid-area: footer;
    background-color: teal;
}
/* grid area define */
.outer-wrapper{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "nav    nav    nav    nav"
    "header header  header  header"
    "main   main    main    main"
    "footer footer  footer  footer"
    ;
}
/* header style */
.nav-items {
    justify-content: space-between;
    height: 70px;
}
.logo{
    flex: 1;
}
.logo img {
    width: 45px;
    height: 44px;
}
.logo h2 {
    color: #fff;
    margin-left: 8px;
}
/* menu bar */
.nav-menu ul{
    list-style: none;
}
.nav-menu ul li{
    display: inline-block;
    padding: 10px 20px;
}
/* login style */
.login span {
    color: oldlace;
    font-size: 23px;
    margin-left: 8px;
}
/* header top player style */
.top-players{
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.header-items {
    padding: 20px;
    background-color: aliceblue;
}
h1.head-title {
    color: orange;
    padding: 10px;
}
img.player-img {
    width: 56px;
    height: 56px;
}
.name{
    margin-left: 5px;
}
/* top blogs style */
.top-blogs{
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}
.post-thum{
    width: 177px;
    height: 117px;
    border-radius: 10px;
}
.blog-info {
    padding: 10px;
}
.blog-info h2 {
    color: darkslategrey;
}
/* main courese area */
.course-items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.course {
    padding: 20px;
    box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
}
/* footer area css */
.footer-area {
    height: 150px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    color: #fff;
}
/* media query style */
@media only screen and (max-width: 567px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .outer-wrapper{
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer"
        ;
    }
    /* navigation */
    .nav-items {
       height: 100%;
    }
    .nav-items, .nav-menu ul{
        flex-direction: column;
    }
    /* header top blog and post */
    .top-players {
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .top-blogs {
        display: grid;
        padding: 10px;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    /* courses sm style */
    .course-items {
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-area {
        text-align: center;
    }
}   
/* medium device media query */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .outer-wrapper{
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "footer"
        ;
    }
    .top-players {
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    .nav-items{
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }
    .top-blogs {
        display: grid;
        padding: 10px;
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    /* courses md style */
    .course-items {
        grid-template-columns: repeat(2, 1fr);
    }
}